<section class="daily-paper-x-unruly-main-banner">
<video width="320" height="240" controls="false" poster="https://cdn.shopify.com/s/files/1/0617/1881/t/336/assets/Untitled-1_1.jpg?v=1630567679" controls>
   <source src="movie.mp4" type="video/mp4">

</video>

</section>

<section class="daily-paper-x-unruly-content-sec">
  <h2>Daily Paper x Unruly</h2>
  <p>Daily Paper and Popcaan’s Unruly Entertainment have joined forces to create a one-of-a-kind capsule collection rich in heritage and purpose.</p>
  <p>While Unruly champions individuality, integrity, family and freedom, Daily Paper builds on community, heritage, unity and creativity, leading to an organic alignment between the two collectives.</p>
  <p>The limited collection of unique, bold pieces is inspired by Jamaican dirt bike culture. Each piece is adorned with unique prints and artworks and the colours of the styles are a reflection of the Jamaican flag.</p>
  <p>The campaign features an exclusive music video created for the collaboration, that captures a day in a life with Popcaan, taking the audience into the Unruly universe.</p>
</section>



  

  
  
  
  
{% schema %}
  {
    "name": "daily-paper-x-unruly",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
