<!-- First Section Flatbot Start -->
<section class="first_section_flatbot">
  <div class="fatboy_main_slider_sec_cus">
    <div><img src="https://cdn.shopify.com/s/files/1/0565/3407/3522/files/Mask_Group_10.png?v=1622883977" /></div>
    <div><img src="https://cdn.shopify.com/s/files/1/0617/1881/t/336/assets/1196.jpg?v=1623421469" /></div>
    
  </div>
</section>

<section class="first_section_flatbot">
  <div class="mobile_carausel_section_flatbot">
    <div><img src="https://cdn.shopify.com/s/files/1/0565/3407/3522/files/2021_DailyPaper_SS21_HeroShot_1080x1080_78ffafa0-68e2-41d6-b6a3-107dd56b4d4f.png?v=1623154333" /></div>
    <div><img src="https://cdn.shopify.com/s/files/1/0617/1881/t/336/assets/Mask_Group_21_3x.png?v=1623414062" /></div>
  </div>
</section>
<!-- First Section Flatbot End -->

<!-- second Section Flatbot Start -->
<section class="second_section_flatbot">
 <p>Introducing Daily Paper’s first outdoor piece, we present the Daily Paper x Fatboy Lamzac O. In collaboration with Fatboy, we have extended innovation with our first ever inflatable chair, which is filled with a simple horizontal swoosh.</p>
</section>
<!-- second Section Flatbot end -->



<!-- third Section Flatbot Start -->
<section class="third_section_flatbot">
 <div class="row">
  <div class="col-md-8">
    <div class="fatboy_second_slider_sec_cus">
    <div><img src="https://cdn.shopify.com/s/files/1/0565/3407/3522/files/Mask_Group_15.png?v=1622891670" /></div>
    <div><img src="https://cdn.shopify.com/s/files/1/0565/3407/3522/files/Mask_Group_16.png?v=1622891752" /></div>
    <div><img src="https://cdn.shopify.com/s/files/1/0565/3407/3522/files/Mask_Group_14.png?v=1622891839" />
      <a class="video_icon_flatboy" href="https://www.instagram.com/p/CNAOXJBFBJ6/?utm_source=ig_web_copy_link"><img class="video_icon_cus" src="https://cdn.shopify.com/s/files/1/0565/3407/3522/files/Polygon_50.svg?v=1623064139"></a></div>
    <div><img src="https://cdn.shopify.com/s/files/1/0565/3407/3522/files/Mask_Group_15.png?v=1622891670" /></div>
    <div><img src="https://cdn.shopify.com/s/files/1/0565/3407/3522/files/Mask_Group_16.png?v=1622891752" /></div>
    <div><img src="https://cdn.shopify.com/s/files/1/0565/3407/3522/files/Mask_Group_14.png?v=1622891839" /></div>  
  </div>
  <div class="fatboy_second_slider_sec_cus_below_content">
    <h4>The Ultimate Summer Accessory  </h4>
    <p>Inspired by our SS21 Resort Collection the product design picks up elements of patchwork and monogram. </p>
    <p>Designed for optimal user-friendliness, the Lamzac comes in a compact custom-made tote bag and is easy to close with a unique roll-and-lock system. While the Lamzac itself only weighs 1kg, it can hold a weight of up to 150kg. A waterproof coating ensures that the chair is resistant to water and dirt, making it beach and park ready to go.</p>
  </div>
    <div>
      <!-- start cta button -->
      <a href="https://uk.dailypaperclothing.com/products/lamzac-o-x-daily-paper?_pos=1&_sid=4b8cc6e33&_ss=r&variant=39661791772877" class="Cta_button_cus_mobile"> Buy Now </a>
      <!-- end CTA button -->
    </div>
  </div>

  <div class="col-md-4">
    <img src="https://cdn.shopify.com/s/files/1/0565/3407/3522/files/Mask_Group_18.png?v=1622892280">
  </div>
</div>
</section>
<!-- third Section Flatbot end -->

<!-- forth Section Flatbot Start -->
<section class="forth_section_flatbot">
  <div class="row">
    <div class="col-md-8">
      <img class="" src="https://cdn.shopify.com/s/files/1/0565/3407/3522/files/Mask_Group_13.png?v=1622894277">
    </div>

    <div class="col-md-4">
      <!-- start cta button -->
      <a href="https://uk.dailypaperclothing.com/products/lamzac-o-x-daily-paper?_pos=1&_sid=4b8cc6e33&_ss=r&variant=39661791772877" class="Cta_button_cus"> Buy Now </a>
      <!-- end CTA button -->
    </div>
  </div>
</section>
<!-- forth Section Flatbot end -->

<!-- only for mobile start  -->
<section class="only_mobile_last_sec">
  <p>Lorem ipsum is a simpaly dummy text of the  printing </p>
  
  <img src="https://cdn.shopify.com/s/files/1/0565/3407/3522/files/2021_DailyPaper_SS21_Lightbox_300DPI_CMYK_1.png?v=1623156602">
</section>
<!-- only for mobile start end  -->


<script>
  jQuery(document).ready(function() {
    jQuery('.fatboy_main_slider_sec_cus').slick({
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 1,
      adaptiveHeight: true
    });
    
    jQuery('.mobile_carausel_section_flatbot').slick({
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 1,
      adaptiveHeight: true
    });
    jQuery('.fatboy_second_slider_sec_cus').slick({
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 3,
      adaptiveHeight: true,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            centerMode: true,
            centerPadding: '80px',
            slidesToShow: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });

  });    

</script>
<script>


</script>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
