<!-- First Section zenology Start -->
<section class="first_section_zenology">
  <div class="zenology_main_slider_sec_cus">
    <div><img src="https://cdn.shopify.com/s/files/1/0617/1881/t/336/assets/Mask_Group_16.png?v=1624603494" /></div>
    <!-- <div><img src="https://cdn.shopify.com/s/files/1/0617/1881/t/336/assets/Mask_Group_16.png?v=1624603494" /></div>
    <div><img src="https://cdn.shopify.com/s/files/1/0617/1881/t/336/assets/Mask_Group_16.png?v=1624603494" /></div>
    <div><img src="https://cdn.shopify.com/s/files/1/0617/1881/t/336/assets/Mask_Group_16.png?v=1624603494" /></div>
    <div><img src="https://cdn.shopify.com/s/files/1/0617/1881/t/336/assets/Mask_Group_16.png?v=1624603494" /></div> -->
  </div>
</section>

<section class="first_section_zenology">
  <div class="mobile_carausel_section_zenology">
    <div><img src="https://cdn.shopify.com/s/files/1/0617/1881/t/336/assets/Mask_Group_16.png?v=1624603494" /></div>
    <!-- <div><img src="https://cdn.shopify.com/s/files/1/0617/1881/t/336/assets/Mask_Group_16.png?v=1624603494" /></div> -->
  </div>
</section>
<!-- First Section zenology end -->

<!-- second section zenology start  -->
<section class="second_section_zenology">
  <h2>Daily Paper x Zenology</h2>
  <p>To tell the story of Daily Paper’s nomadic nature we've partnered with ZENOLOGY to create a fragrance spray that explores our African origin. Carrying core ingredients such as Moroccan Mint, Ghanaian Cacao, and the aroma of Somali Frankincense. With its woody and rich scent the Modern Nomad fragrance will have you experience our history as well as luxury.</p>
</section> 
<!-- second section zenology end  -->

<!-- zeology_only_mobile_images_sec start -->
<section class="zeology_only_mobile_images_sec">
  <img src="https://cdn.shopify.com/s/files/1/0617/1881/t/336/assets/Mask_Group_2.png?v=1624622911">
 <!-- <img src="https://cdn.shopify.com/s/files/1/0617/1881/t/336/assets/Mask_Group_3.png?v=1624622975"> -->
</section>
<!-- zeology_only_mobile_images_sec end -->
<!-- third section zenology start  -->
<section class="third_section_zenology">
  <div class="row">
    <div class="col-md-6">
      <a href="https://uk.dailypaperclothing.com/collections/daily-paper-x-zenlogy/products/daily-paper-x-zenology-african-mint-tea-ambiance-spray">
      <img class="big_image_product" src="https://cdn.shopify.com/s/files/1/0617/1881/files/image_22.jpg?v=1625211745">
     <!-- <img class="short_image_product" src="https://cdn.shopify.com/s/files/1/0617/1881/t/336/assets/Mask_Group_20_2x.png?v=1624614441"> -->
      <div class="row product_content_cus">
        <div class="col-md-9">
          <h3>Daily paper x Zenology Modern Nomad Ambiance Spray</h3>
          <p>€ 19.95</p>
        </div>
        <div class="col-md-3">
          <p></p>
        </div></a>
      </div>
    </div>

    <div class="col-md-6">
      <a href="https://uk.dailypaperclothing.com/collections/daily-paper-x-zenlogy/products/daily-paper-x-zenology-african-mint-tea-ambiance-trigger">
      <img class="big_image_product" src="https://cdn.shopify.com/s/files/1/0617/1881/files/mask_group_19.jpg?v=1625211761">
     <!-- <img class="short_image_product second_image" src="https://cdn.shopify.com/s/files/1/0617/1881/t/336/assets/Mask_Group_21.png?v=1624614647"> -->
      <div class="row product_content_cus">
        <div class="col-md-9">
          <h3>Daily paper x Zenology Modern Nomad Ambiance Trigger</h3>
          <p>€ 48.95</p>
        </div>
        <div class="col-md-3">
          <p>70ML</p>
        </div>
        </div> </a>
    </div>
    
  </div>
</section>
<!-- third section zenology end  -->

<!-- forth section zenology start  -->
<section class="forth_section_zenology">
<iframe width="100%" height="600" src="https://www.youtube.com/embed/M8ADQSdxHGE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!-- <img class="video_background_zeology_cus" src="https://cdn.shopify.com/s/files/1/0617/1881/t/336/assets/Mask_Group_22.png?v=1624616483">
<img class="video_icon_zeology_cus" src="https://cdn.shopify.com/s/files/1/0617/1881/t/336/assets/Polygon_54.svg?v=1624616563">  -->
</section>
<!-- forth section zenology end  -->

<section class="introducing">
  <h2>Introducing Modern Nomad</h2>
  <p>Designed to take you on a nostalgic journey across Africa, our Daily Paper x Zenology Modern Nomad fragrance spray tells the story of Daily Paper’s rich African origin by combining scents from Somalia, Morocco and Ghana.</p>
</section>

<!-- fifth section zenology start  -->
<section class="fifth_section_zenology">
  <h2>African Heritage</h2>
</section>
<!-- fifth section zenology end  -->

<!-- sixth section zenology start  -->
<section class="sixth_section_zenology">
  <div class="row">
    <div class="col-md-6 img">
      <img src="https://cdn.shopify.com/s/files/1/0617/1881/files/DSC05898_3x_144d5ca5-94b6-430d-aadc-c6fbff903c54.png?v=1625198384">
    </div>
    <div class="col-md-6 content_zeology_cus">
      <h2>Morrocan Mint</h2>
      <p>A popular practice in North Africa and Middle East is the Morrocan mint tea also known as Maghrebi mint tea. Said to be used as a ceremonial beverage to welcome guests and traditionally served three times as a form of hospitality, it was essential that the Modern Nomad fragrance included such a vital ingredient. Reflecting the origin of our co-founder Abderrahmane Trabsinis - this was an essential element in the creation of the Daily Paper x Zenology fragrance spray.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6 mobile_reverse_image">
      <img src="https://cdn.shopify.com/s/files/1/0617/1881/t/336/assets/Mask_Group_23.png?v=1624618300">
    </div>
    <div class="col-md-6 content_zeology_cus remove_padding_cus">
      <h2>Somali Frankincense</h2>
      <p>Found in the rugged highlands of Somalia - the Somali Frankincense was the last central component to the Daily Paper x Zenology fragrance. With a rich history spanning from 5000 years, frankincense has both religious and cultural importance as well as medicinal purposes. Reflecting the motherland of co-founder Hussein Suleiman, the woody and rich aroma was the last piece that reflected the smell of Africa as a whole and the last remaining ingredient to what we know as - Modern Nomad.</p>
    </div>
    <div class="col-md-6 mobile_reverse_none_image">
      <img src="https://cdn.shopify.com/s/files/1/0617/1881/t/336/assets/Mask_Group_23.png?v=1624618300">
    </div>
  </div>

   <div class="row">
    <div class="col-md-6 img">
      <img src="https://cdn.shopify.com/s/files/1/0617/1881/t/336/assets/Mask_Group_24.png?v=1624618510">
    </div>
    <div class="col-md-6 content_zeology_cus ">
      <h2>Ghanian Cacao</h2>
      <p>Discovered in the 1800’s the Ghanian Cacao has long been an element in Ghana’s rich history and growing economy for many centuries. Said to be the jewel of Ghana and the birthplace of our co-founder Jefferson Osei - the Ghanain Cacao is one of the most sought after cacao beans in the world making this another integral part of the anticipated Modern Nomad ambience fragrance.</p>
    </div>
  </div>
</section>
<!-- sixth section zenology end  -->

<section class="forth_section_zenology mobile_video">
<iframe width="100%" height="300" src="https://www.youtube.com/embed/M8ADQSdxHGE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!-- <img class="video_background_zeology_cus" src="https://cdn.shopify.com/s/files/1/0617/1881/t/336/assets/Mask_Group_22.png?v=1624616483">
<img class="video_icon_zeology_cus" src="https://cdn.shopify.com/s/files/1/0617/1881/t/336/assets/Polygon_54.svg?v=1624616563"> -->
</section>
<!-- seventh section zenology start  -->
<section class="seventh_section_zenology">
<img src="https://cdn.shopify.com/s/files/1/0617/1881/t/336/assets/Image_27.png?v=1624620258">
</section>
<!-- seventh section zenology end  -->

<script>
  jQuery(document).ready(function() {
    jQuery('.zenology_main_slider_sec_cus').slick({
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 1,
      adaptiveHeight: true
    });
    
    jQuery('.mobile_carausel_section_zenology').slick({
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 1,
      adaptiveHeight: true
    });
    jQuery('.zenology_second_slider_sec_cus').slick({
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 3,
      adaptiveHeight: true,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            centerMode: true,
            centerPadding: '80px',
            slidesToShow: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });

  });    

</script>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
