<div id="fullpage" class="landing-desktop-section"> 
  
<div id="section1" class="index-section section fp-section fp-table active fp-completely" data-fp-styles="null" style="height: 930px;">
  <div class="fp-tableCell" style="height: 963px;">   
    <div class="wc-image-text-part">
      <div class="wc-image-text-left" style="background:url(//cdn.shopify.com/s/files/1/0617/1881/files/Bob_Marley_x_DP_Ghana_image_12.jpg?v=1615211007) no-repeat center center;background-size:cover;"></div>
      
      <div class="wc-image-text-right"><div class="wc-image-text-wrap"><h2>BOB MARLEY X DAILY PAPER CAPSULE COLLECTION</h2><p>February 6 marks the icon’s 76th birthday, coinciding with the brand's </span><strong>Bob Marley x Daily Paper capsule</strong><span>, celebrating his powerful impact through penmanship and song lyrics. </span><span>Echoing wisdoms of the past, Marley’s song lyrics are broken down into renowned lines, embroidered and printed onto the garments in decorative forms and shapes. One reading </span>NONE BUT OURSELVES CAN FREE OUR MINDS,<span> </span><span>from his widely known </span>Redemption Song,<span> recalling our capability to observe and influence our thoughts and opinions; whilst</span><span> </span>LOVE WOULD NEVER LEAVE US ALONE<span> </span><span>from the classic </span>Could You Be Loved<span> </span><span>reminds us of the power of love.</span></p><a href="/collections/bob-marley-capsule-collection" class="black">SHOP MEN</a> <a href="/collections/bob-marley-capsule-collection-women" class="black">SHOP WOMEN </a></div></div></div>  
  </div></div>  
  

<p style="text-align: center;"><a href="https://www.dailypaperclothing.com/collections/bob-marley-capsule-collection/products/brown-kayson-coat?variant=35006197956742" title="Kayson Brown Jacquard Jacket"><img src="https://cdn.shopify.com/s/files/1/0617/1881/files/Bob_Marley_x_DP_Ghana_R2_2048x2048.jpg?v=1613559662" alt="" /></a></p>

<p style="text-align: center;"><a href="https://www.dailypaperclothing.com/collections/bob-marley-capsule-collection/products/sand-checked-kardy-jacket?variant=35006180458630" title="Kano Sand Check Jacket and Kensine Sand Check Pants"><img src="https://cdn.shopify.com/s/files/1/0617/1881/files/Bob-Marley-x-DP-Ghana-R1_2048x2048.jpg?v=1613559161" alt="" style="display: block; margin-left: auto; margin-right: auto;" /></a></p>

<p style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0617/1881/files/Bob-Marley-x-DP-Ghana-R5_2048x2048.jpg?v=1614166082" alt="" /></p>

<p></p>
</div>


<div id="mobile-fullpage" class="landing-mobile-section">
<br>
<br>
<p style="text-align: center;"><a href="https://www.dailypaperclothing.com/collections/bob-marley-capsule-collection"><img src="https://cdn.shopify.com/s/files/1/0617/1881/files/Bob_Marley_x_DP_Ghana_Header_e33c9ae7-d00d-4a98-a8a3-844eae7f54c8_2048x2048.jpg?v=1613492688" alt="" /></a></p>
<p style="text-align: center;"><strong>BOB MARLEY X DAILY PAPER CAPSULE COLLECTION</strong></p>

<p style="text-align: center;"><a href="collections/bob-marley-capsule-collection" class="col-main-LP-Links">SHOP MEN</a> / <a href="collections/bob-marley-capsule-collection-women" title="bob-marley-capsule-collection-women" class="col-main-LP-Links">SHOP WOMEN</a></p>


<p style="text-align: center;"><span>February 6 marks the icon’s 76th birthday, coinciding with the brand's </span><strong>Bob Marley x Daily Paper capsule</strong><span>, celebrating his powerful impact through penmanship and song lyrics. </span><span>Echoing wisdoms of the past, Marley’s song lyrics are broken down into renowned lines, embroidered and printed onto the garments in decorative forms and shapes. One reading </span>NONE BUT OURSELVES CAN FREE OUR MINDS,<span> </span><span>from his widely known </span>Redemption Song,<span> recalling our capability to observe and influence our thoughts and opinions; whilst</span><span> </span>LOVE WOULD NEVER LEAVE US ALONE<span> </span><span>from the classic </span>Could You Be Loved<span> </span><span>reminds us of the power of love.</span></p>
<meta charset="utf-8" />

<p style="text-align: center;"><a href="https://www.dailypaperclothing.com/collections/bob-marley-capsule-collection/products/sand-checked-kardy-jacket?variant=35006180458630" title="Kano Sand Check Jacket and Kensine Sand Check Pants"><img src="https://cdn.shopify.com/s/files/1/0617/1881/files/Bob-Marley-x-DP-Ghana-R1_2048x2048.jpg?v=1613559161" alt="" style="display: block; margin-left: auto; margin-right: auto;" /></a></p>

<p style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0617/1881/files/Bob-Marley-x-DP-Ghana-R5_2048x2048.jpg?v=1614166082" alt="" /></p>

<p style="text-align: center;"><a href="https://www.dailypaperclothing.com/collections/bob-marley-capsule-collection/products/brown-kayson-coat?variant=35006197956742" title="Kayson Brown Jacquard Jacket"><img src="https://cdn.shopify.com/s/files/1/0617/1881/files/Bob_Marley_x_DP_Ghana_R2_2048x2048.jpg?v=1613559662" alt="" /></a></p>
</div>
{%- section 'collection-template-Bobm' -%}
