<div id="fullpage" class="landing-desktop-section"> 

<p style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0617/1881/files/2021_DailyPaper_SS21_03_1261_3_copy_2048x2048.jpg?v=1619009036" alt=""></p>
<p></p>
</div>


<div id="mobile-fullpage" class="landing-mobile-section">
<br>
<br>

<p style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0617/1881/files/2021_DailyPaper_SS21_03_1261_3_copy_3_600x600.jpg?v=1619009036" alt="" /></p>
</div>
{%- section 'collection-template' -%}