<div id="fullpage" class="landing-desktop-section"> 
  
<div id="section1" class="index-section section fp-section fp-table active fp-completely" data-fp-styles="null" style="height: 930px;">
  <div class="fp-tableCell" style="height: 963px;">   
    <div class="wc-image-text-part">
      <div class="wc-image-text-left" style="background:url(https://cdn.shopify.com/s/files/1/0617/1881/files/20210423_Daily_Paper_010_015_2.jpg?v=1620218102) no-repeat center center;background-size:cover;"></div>
      
      <div class="wc-image-text-right"><div class="wc-image-text-wrap"><h2>CAPTAIN HOODIE COLLECTION</h2><p>Daily Paper’s original piece and all-time classic in fresh new tonal colourways. With a seasonal twist for the warmer months ahead, the Captain hoodie has been the top essential from day one.</p></div></div></div>  
  </div></div>  
  

<p></p>
</div>


<div id="mobile-fullpage" class="landing-mobile-section">

  
  <br>
<br>
  
<p style="text-align: center;">
  <img id="CHHeaderImage" src="https://cdn.shopify.com/s/files/1/0617/1881/files/20210423_Daily_Paper_010_015_2_600x600.jpg?v=1620218102" alt="" data-mce-fragment="1" data-mce-src="https://cdn.shopify.com/s/files/1/0617/1881/files/20210423_Daily_Paper_010_015_2.jpg?v=1620218102"></p>
<br>
  
  <p style="text-align: center;margin-left: 30px;margin-right: 30px;text-align: center;"><strong>CAPTAIN HOODIE TONAL</strong></p>

  
<p style="text-align: center;font-size: 14px;margin-left: 30px;margin-right: 30px;">  
Daily Paper’s original piece and all-time classic in fresh new tonal colourways. With a seasonal twist for the warmer months ahead, the Captain Hoodie has been the top essential from day one.
  </p>  
<br>
<p style="text-align: center;">
  
    
<img onclick="location.href='https://uk.dailypaperclothing.com/products/jacaranda-purple-captain-hoody'" alt="Jacaranda Purple Tonal Captain Hoody" src="https://cdn.shopify.com/s/files/1/0617/1881/files/20210423_Daily_Paper_007_062_600x600.jpg?v=1620218144" alt="" data-mce-fragment="1" data-mce-src="https://cdn.shopify.com/s/files/1/0617/1881/files/20210423_Daily_Paper_010_015_2.jpg?v=1620218102">

  </p>

  
<p style="text-align: center;">  
<img data-mce-fragment="1" alt="Beige Tonal Captain Hoody" onclick="location.href='https://uk.dailypaperclothing.com/products/beige-captain-hoody'" src="https://cdn.shopify.com/s/files/1/0617/1881/files/20210423_Daily_Paper_013_102_480x480.jpg?v=1620218130" data-mce-src="https://cdn.shopify.com/s/files/1/0617/1881/files/20210423_Daily_Paper_013_102_480x480.jpg?v=1620218130"></a>
</p>
  
<br><br>  

  <p style="text-align: center;margin-left: 30px;margin-right: 30px;text-align: center;"><strong>CAPTAIN HOODIES COLLECTION</strong></p>
  
        <script type = "text/javascript">
            var image=document.getElementById("CHHeaderImage");

            function volgendefoto() {
              	//alert(image.src);
                if (image.src =="https://cdn.shopify.com/s/files/1/0617/1881/files/20210423_Daily_Paper_010_015_2_600x600.jpg?v=1620218102") {
                    image.src="https://cdn.shopify.com/s/files/1/0617/1881/files/20210423_Daily_Paper_007_062_600x600.jpg?v=1620218144";
                  return
                }

                if (image.src == "https://cdn.shopify.com/s/files/1/0617/1881/files/20210423_Daily_Paper_007_062_600x600.jpg?v=1620218144") {
                    image.src="https://cdn.shopify.com/s/files/1/0617/1881/files/20210423_Daily_Paper_008_015_600x600.jpg?v=1620218118";
                  return
                }
                if (image.src == "https://cdn.shopify.com/s/files/1/0617/1881/files/20210423_Daily_Paper_008_015_600x600.jpg?v=1620218118") {
                    image.src="https://cdn.shopify.com/s/files/1/0617/1881/files/20210423_Daily_Paper_010_015_2_600x600.jpg?v=1620218102";
                  return
                }
              timer();
            }

            function timer(){
                setInterval(volgendefoto, 2000);
            }


            //timer();
        </script>  

  
<meta charset="utf-8" />

</div>
{%- section 'collection-template-Bobm' -%}
