<body>
      <div class="hero-seemore">
        <img class="unitelogo" src="{{ 'unite-white.jpg' | asset_url }}"><br>
        {{page.content}}
        <span class="signup-footer">
          <br>By joining the community, you accept the terms of our privacy policy and agree to receive newsletters and updates from Daily Paper Community.
        </span>
      </div>
  </div>
</body>