<div class="container subscribe-container" data-call="{{ template }}">
  <div class="form-group">
   <div class="col-lg-8 col-lg-offset-2 col-xm-12">
    <div class="header-text">


        <div class="show_hide_text_btn_heading_cus">

<!--             <div class="klaviyo-form-WrFK8w main_new_form_sec_cus_klaviyo_league"></div> -->
          <h1 class="form-h1">EARLY ACCESS TO MID-SEASON SALE</h1>
              <p class="form-p">
                Subscribe now and get exclusive 2 hours of Early Access to our upcoming Mid-Season Sale.
              </p>
                
              <p  class="form-p">
                By signing up, you accept the terms of our privacy policy and agree to receive e-mails from Daily Paper.
              </p>
               <div class="klaviyo-form-TpNkVk"></div>
         

            <ul class="social_icon_form_cus">
                <li><a href="https://www.facebook.com/Dailypaper/"><svg xmlns="http://www.w3.org/2000/svg" width="15.206" height="15.206" viewbox="0 0 15.206 15.206"><defs>
                                <style><!--
                                    .a{fill:#fff;}
                                    --></style>
                            </defs><path class="a" d="M15.206,7.6a7.6,7.6,0,1,0-7.6,7.6c.045,0,.089,0,.134,0V9.287H6.1v-1.9H7.737v-1.4a2.287,2.287,0,0,1,2.441-2.51,13.269,13.269,0,0,1,1.464.074v1.7h-1c-.787,0-.941.374-.941.924V7.38h1.886l-.247,1.9H9.7v5.628A7.606,7.606,0,0,0,15.206,7.6Z"></path></svg></a></li>
                <li><a href="https://www.instagram.com/dailypaper/"><svg xmlns="http://www.w3.org/2000/svg" width="15.265" height="15.265" viewbox="0 0 15.265 15.265"><defs>
                                <style><!--
                                    .a{fill:#fff;}
                                    --></style>
                            </defs><path class="a" d="M209.922,208.461A1.461,1.461,0,1,1,208.461,207,1.461,1.461,0,0,1,209.922,208.461Zm0,0" transform="translate(-200.829 -200.829)"></path><path class="a" d="M142.494,136.5a1.451,1.451,0,0,0-.832-.832,2.424,2.424,0,0,0-.814-.151c-.462-.021-.6-.026-1.771-.026s-1.309,0-1.771.026a2.426,2.426,0,0,0-.814.151,1.452,1.452,0,0,0-.832.832,2.426,2.426,0,0,0-.151.814c-.021.462-.026.6-.026,1.771s0,1.309.026,1.771a2.425,2.425,0,0,0,.151.814,1.451,1.451,0,0,0,.832.832,2.421,2.421,0,0,0,.814.151c.462.021.6.026,1.771.026s1.309,0,1.771-.026a2.421,2.421,0,0,0,.814-.151,1.451,1.451,0,0,0,.832-.832,2.427,2.427,0,0,0,.151-.814c.021-.462.025-.6.025-1.771s0-1.309-.025-1.771A2.422,2.422,0,0,0,142.494,136.5Zm-3.416,4.835a2.25,2.25,0,1,1,2.25-2.25A2.25,2.25,0,0,1,139.078,141.332Zm2.339-4.064a.526.526,0,1,1,.526-.526A.526.526,0,0,1,141.417,137.268Zm0,0" transform="translate(-131.445 -131.449)"></path><path class="a" d="M7.632,0a7.632,7.632,0,1,0,7.632,7.632A7.633,7.633,0,0,0,7.632,0Zm4.356,9.439a3.215,3.215,0,0,1-.2,1.064A2.241,2.241,0,0,1,10.5,11.785a3.218,3.218,0,0,1-1.064.2c-.467.021-.617.026-1.807.026s-1.34-.005-1.807-.026a3.218,3.218,0,0,1-1.064-.2A2.241,2.241,0,0,1,3.48,10.5a3.215,3.215,0,0,1-.2-1.064c-.022-.467-.027-.617-.027-1.807s.005-1.34.026-1.807a3.216,3.216,0,0,1,.2-1.064A2.242,2.242,0,0,1,4.762,3.48a3.218,3.218,0,0,1,1.064-.2c.467-.021.617-.026,1.807-.026s1.34.005,1.807.027a3.219,3.219,0,0,1,1.064.2,2.242,2.242,0,0,1,1.282,1.282,3.215,3.215,0,0,1,.2,1.064c.021.467.026.617.026,1.807S12.01,8.972,11.988,9.439Zm0,0" transform="translate(0 0)"></path></svg></a></li>
                <li><a href="https://www.twitter.com/dailypaper"><svg xmlns="http://www.w3.org/2000/svg" width="15.206" height="15.206" viewbox="0 0 15.206 15.206"><defs>
                                <style><!--
                                    .a{fill:#fff;}
                                    --></style>
                            </defs><path class="a" d="M7.6,0a7.6,7.6,0,1,0,7.6,7.6A7.6,7.6,0,0,0,7.6,0Zm3.472,5.928q.005.112,0,.226a4.932,4.932,0,0,1-4.965,4.965h0a4.94,4.94,0,0,1-2.675-.784,3.55,3.55,0,0,0,.416.024,3.5,3.5,0,0,0,2.168-.747A1.747,1.747,0,0,1,4.393,8.4a1.739,1.739,0,0,0,.788-.03,1.746,1.746,0,0,1-1.4-1.711c0-.008,0-.015,0-.022a1.733,1.733,0,0,0,.79.218,1.747,1.747,0,0,1-.54-2.33,4.955,4.955,0,0,0,3.6,1.823A1.746,1.746,0,0,1,10.6,4.758a3.5,3.5,0,0,0,1.108-.424,1.752,1.752,0,0,1-.767.965,3.481,3.481,0,0,0,1-.275,3.547,3.547,0,0,1-.87.9Zm0,0"></path></svg></a></li>
                <li><a href="https://www.youtube.com/channel/UCa4TSxPJEZB9NGxhnm1uWjQ"><svg xmlns="http://www.w3.org/2000/svg" width="15.206" height="15.206" viewbox="0 0 15.206 15.206"><defs>
                                <style><!--
                                    .a{fill:#fff;}
                                    --></style>
                            </defs><path class="a" d="M224.113,210.888l2.473-1.424-2.473-1.424Zm0,0" transform="translate(-217.457 -201.86)"></path><path class="a" d="M7.6,0a7.6,7.6,0,1,0,7.6,7.6A7.6,7.6,0,0,0,7.6,0Zm4.751,7.611a12.549,12.549,0,0,1-.2,2.286,1.191,1.191,0,0,1-.838.837,28.9,28.9,0,0,1-3.718.2,27.864,27.864,0,0,1-3.718-.2,1.191,1.191,0,0,1-.838-.838,12.494,12.494,0,0,1-.2-2.285,12.541,12.541,0,0,1,.2-2.285,1.215,1.215,0,0,1,.838-.845,28.9,28.9,0,0,1,3.718-.2,27.8,27.8,0,0,1,3.718.2,1.191,1.191,0,0,1,.838.838,11.909,11.909,0,0,1,.2,2.293Zm0,0"></path></svg></a></li>
            </ul>
        </div>
    </div>

</div>
    </div>
</div>
<style>
 
   body{
     background-color: #C9C9C9;
    }
     p.form-p {
         font-size: 14px;
         color: #000;
         font-family: 'Commuters-sans';
         font-weight: 400;
    }
     h1.form-h1 {
         color: #000;
         font-family: Avenir, Helvetica, Arial, sans-serif !important;
         font-weight: 700;
    }
     .isDEmb.isDEmb.isDEmb, .bGtXmk.bGtXmk.bGtXmk, .iNoZku.iNoZku.iNoZku {
         font-family: 'Avenir' !important;
    }
     .wrapper-container {
         margin-top: 68px;
    }
     ul.social_icon_form_cus {
         border-top: none;
    }
     #daily-paper-x-earlyaccess2021 ul.social_icon_form_cus svg {
         color: #000!important;
         fill: #0000;
         filter: invert(1);
    }

  
</style>
