<div class="row">
  {% include 'service-page-sidebar' %}
  <div class="col-main">  

    <h1 class="service-title">This page could not be found.</h1>

    <span {% if settings.enable_multilang %}data-translate="general.404.subtext_html"{%endif%}>
      {{ 'general.404.subtext_html' | t }}
    </span>
    <a {% if settings.enable_multilang %}data-translate="general.404.click_here"{%endif%} href="/collections/all">
      {{ 'general.404.click_here' | t }}
    </a>
    <span {% if settings.enable_multilang %}data-translate="general.404.continue_shopping"{%endif%}>
      {{ 'general.404.continue_shopping' | t }}
    </span>

  </div>
</div>